#top-utility-wrap{
	padding: 10px 0;
	border-bottom: 1px solid $color__gray;
	@include clearfix;
	&:before {
		@include clearfix-before;
	}
	&:after {
		@include clearfix-after;
	}
	@include anchor-colors ($color__gray, $color__gray, $color__gray, $color__gray, $color__black, $color__black);

}
#logo-wrap {
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    img {
    	max-width:300px;
    }
}

@import "social-nav";
@import "top-utility-nav";
@import "slick-nav";
@import "nav";