/* main style */
.nav {
	position:relative;
	width: 100%;
	max-width:$size__site-main-max;
	z-index:100;
	left:0;
	height:70px;
	line-height: 70px;
	vertical-align:middle;
	background-color:$color__background-nav;
	border-top:1px solid $color__black;
	border-bottom:1px solid $color__black;
	&:after {
		content: '';
		height: 0px;
		width: 100%;
		display: inline-block;
	}
	@include break-point-mobile {
		display: none;
	}
}
/* top level nav styles */
#menu-main {
	padding: 0;
	width: 95%;
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	text-align: justify;
	font-size: 0.1px;
	height: inherit;
	line-height: inherit;
	&:after {
		content: '';
		height: 0px;
		width: 100%;
		display: inline-block;
	}
	& > li {
		@include clear-list-style;
		display: inline-block;
		position: relative;
		height: 100%;
		@include font-size(1.6);
		white-space: nowrap;
	}
	& > a,
	& > a:link,
	& > a:visited,
	& > a:active {
		display: block;
		text-decoration: none;
		display: block;
		@include fade();
		color:$color__link-nav;
		text-decoration:none;
	}
	li:hover > a,
	& > a:focus,
	& > a:hover {
		color:$color__link-nav-hover;
		background-color:$color__link-nav-bg-hover;
		ul li > ul {
			display: none;
		}
		ul li:hover > ul{
			display: block;
			position: absolute;
			border:none;
			text-align: center;
			height: auto;
			width: 180px;
			left: 50%;
			margin-left: -90px;
		}
		ul ul li {
			display: block;
			position: relative;
		}
	}
}
/* 2nd level dropdown nav styles */
#menu-main > li  {
	& > ul {
		position: absolute;
		left: -9999px;
		border-top: 0;
		background-color:$color__link-nav-bg-hover;
		margin:-1px 0 0;
		padding:0;
		@include opacity(0);
		& > li  {
			@include clear-list-style;
			float:left;
			display: block;
			position:relative;
			text-align: left;
			width:100%;
			& > a {
				&:link,
				&:visited,
				&:active {
					width:100%;
					padding:0 10px;
					display: block;
					float:left;
					height:70px;
					line-height:70px;
					vertical-align:middle;
					color:$color__link-nav-hover;
				}
				&:hover,
				&:focus {
					@include background-opacity ($color__gray, .8);
					color:$color__white;
				}
			}
			&:after {
				content: ' ';
				height: 0px;
				width: 100%;
				display: flex;
				border-top:1px solid $color__link-nav-hover;
			}
			&:last-child:after {
				border:none;
			}
		}
	}
	/* display 2nd level dropdown */
	&:hover > ul {
		visibility: visible;
		left:0;
		top:70px;
		@include opacity(1);
	}
}
/* 3rd level dropdown nav styles */
#menu-main > li > ul > li {
	& > ul {
		position: absolute;
		left: -9999px;
		border-top: 0;
		background-color:$color__link-nav-bg-hover;
		margin:0;
		padding:10px 0;
		height:100%;
		@include opacity(0);
		border-left:1px solid $color__link-nav-hover;
		& > li {
			@include clear-list-style;
			display: inline;
			position:relative;
			text-align: left;
			width:100%;
			padding:10px 0;
			& > a {
				&:link,
				&:visited,
				&:active {
					width:100%;
					padding:0 10px;
					display: block;
					float:left;
					height:70px;
					line-height:70px;
					vertical-align:middle;
					color:$color__link-nav-hover;
				}
				&:hover,
				&:focus {
					@include background-opacity ($color__gray, .8);
					color:$color__white;
				}
			}
			&:after {
				content: ' ';
				height: 0px;
				width: 100%;
				display: flex;
				border-top:1px solid $color__link-nav-hover;
			}
			&:last-child:after {
				border:none;
			}
		}
	}
	/* display 3rd level dropdown */
	&:hover > ul {
		visibility: visible;
		@include opacity(1);
		left:100%;
	}
}