.slicknav_menu {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 9999;

  @include break-point-mobile {
    display: block;
  }
  .slicknav_icon-bar {
    background-color: $color__background-nav;
    width: 20px;
    height: 3px;
    box-shadow: none;
    @include border-radius(0);
  }
}
.slicknav_btn {
  margin: 0;
  padding: 0;
  float: left;
  text-decoration: none;
  background: none;
  top: 30px;
  left: 25px;
}
.slicknav_nav {
  position: relative;
  z-index: 9999;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  top: 60px;

  ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: $color__background-nav;
    @include font-size(1.9);
  }
  li {
    border-top: 1px solid $color__black;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-style: normal;
    display: block;
    width: 100%;

    &:after {
      display: inline-block;
      float: right;
      text-align: center;
      font-family: FontAwesome;
      content: "\f105";
      position: absolute;
      right: 25px;
      float: right;
      top: 20px;
      color: $color__link-nav;
      height: 100%;
      vertical-align: middle;
      line-height: 100%;
    }
    &.menu-item-has-children:after {
      display: inline-block;
      float: right;
      text-align: center;
      font-family: FontAwesome;
      content: "\f055";
      position: absolute;
      right: 20px;
      float: right;
      top: 20px;
      color: $color__link-nav;
      height: 100%;
      vertical-align: middle;
      line-height: 100%;
      @include font-size(1.6);
    }
  }
  a {
    @include font-size(1.8);
    color: $color__link-nav;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 4.75% 20px;
    position: relative;

    &:hover {
      background: $color__black;
      color: $color__link-nav-hover;
    }
  }
  .slicknav_arrow {
    display: none;
  }
  .sub-menu {
      background: $color__black;

    li {
      border-color: $color__background-nav;

      &:after {
        @include font-size(1.5);
      }
      a {
        padding: 15px 0px 15px 50px;
        @include font-size(1.5);

        &:hover {
          background: $color__background-nav;
        }
      }
    }
  }
  .slicknav_txtnode {
    margin-left: 15px;
  }
  .slicknav_item a {
    padding: 0;
    margin: 0;
  }
  .slicknav_parent-link a {
    padding: 0;
    margin: 0;
  }
}
.slicknav_brand {
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}
.slicknav_icon-bar {
  -moz-transform: rotate3d(0, 0, 1, 0);
  -webkit-transform: rotate3d(0, 0, 1, 0);
  -o-transform: rotate3d(0, 0, 1, 0);
  -ms-transform: rotate3d(0, 0, 1, 0);
  transform: rotate3d(0, 0, 1, 0);
  @include fade();
}
.slicknav_open {
  .slicknav_icon-bar {
    margin: 0;
    padding: 0;
    @include fade();
    @include opacity(0);
  }
  .slicknav_icon-bar:first-child {
    top: 6px;
    position: relative;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    @include opacity(1);
  }
  .slicknav_icon-bar:last-child {
    top: -6px;
    position: relative;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    @include opacity(1);
  }
}