$padding: 6%;
$margin: 30px;

.row {
    text-align: justify;
    width: 100%;
    font-size: 0.1px;
    margin-bottom:30px;

	&:after {
		display: inline-block;
		width: 100%;
		content: '';
		clear: both;
	}

	&.no-margin {
		margin: 0;
	}

}
[class*='col-'] {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    @include font-size(1.7);
	@include break-point-mobile {
		margin-bottom:$margin !important;
		width:100% !important;
	}

}
.col-100 {
    width: 100%;
	@include break-point-mobile  {
		margin-bottom:$margin !important;
	}
}
.col-75 {
    width: 73.5%;
}
.col-60 {
    width: 58.5%;
}
.col-50 {
    width: 48.5%;
}
.col-40 {
    width: 38.5%;
}
.col-30 {
    width: 31.3%;
}
.col-25 {
    width: 23.5%;
    @include break-point-tablet {
        width: 48.5% !important;
		margin-bottom:$margin !important;
    }
    @include break-point-mobile {
        width: 100% !important;
    }
}
.col-50-break {
    width: 48.5%;
    display: inline-block;

    @include break-point-mobile {
        width: 100%;
    }
}
.col-30-break {
    width: 31.5%;
    display: inline-block;

    @include break-point-mobile {
        width: 100%;
    }
}
.col-25-break {
    width: 23.5%;
    display: inline-block;

    @include break-point-mobile {
        width: 100%;
    }
}
.content {background: #ccc;padding:20px;}