.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	@include border-radius(4px);

	&.alert-success {
		color: $color__success-green;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}
	&.alert-info {
		color: $color__info-blue;
		background-color: #d9edf7;
		border-color: #bce8f1;
	}
	&.alert-warning {
		color: $color__warning-yellow;
		background-color: #fcf8e3;
		border-color: #faebcc;
	}
	&.alert-error {
		color: $color__error-red;
		background-color: #f2dede;
		border-color: #ebccd1;
	}
	.close {
		float: right;
		font-size: 21px;
		font-weight: 700;
		line-height: 1;
		color: #000;
		text-shadow: 0 1px 0 #fff;
		@include opacity(.2);
		&:focus,
		&:hover {
    		color:$color__black;
    		text-decoration: none;
    		cursor: pointer;
    		@include opacity(.5);
		}
	}
}