.btn,
.btn:link,
.btn:active,
.btn:visited,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	position: relative;
	display: inline-block;
	width: auto;
	cursor: pointer;
	text-align: center;
	outline: none;
	@include fade;
	@include backface-visibility(hidden);

	&:focus,
	&:hover {
		background-color: $color__button-bg-hover;
		color: $color__button-text;
	}

}