/* short hand truncate */
@mixin truncate($truncate) {
  max-width: $truncate;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}