@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body.login {
    background: #2A3131;
    opacity: 0;  /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    animation-duration:.2s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
body.login div#login h1 a {
    background-size: 320px 101px;
    width: 320px;
    height: 101px;
    outline: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
body.login div#login h1 a:focus, body.login div#login h1 a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#1)";
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#login {
    background: #f0f0f0;
    width: 320px;
    padding: 40px;
    margin: auto;
    top: 225px;
    position: relative;
    webkit-box-shadow: 0px 0px 20px 0px rgba(86, 87, 87, .5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(86, 87, 87, .5);
    box-shadow: 0px 0px 20px 0px rgba(86, 87, 87, .5);
    opacity: 0;  /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-duration:1.2s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.login #nav a, .login #backtoblog a {
    color: #aaa !important;
    text-shadow: none;
    text-decoration: none;
}
.login #nav a:hover, .login #backtoblog a:hover {
    color: #000 !important;
}
.login form {
    border: #ccc;
    background: none;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
}
#login form p {
    margin-bottom: 10px;
    line-height: 1;
    display: block;
    width: 100%;
}
.login form input[type="text"], .login form input[type="password"] {
    display: inline-block;
    background: none;
    height: 60px;
    line-height: 60px;
    max-width: 400px;
    width: 100%;
    outline: none;
    padding: 0 0 0 10px;
    margin: 0;
    color: #ccc;
    border: 1px solid #ccc;
    font-style: normal;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: none !important;
    font-size: 1.6rem;
    font-size: 16px;
}
.login form input[type="text"]:focus, .login form input[type="password"]:focus {
    color: #000;
    border: 1px solid #1B1F1F;
    background-color: #ffffff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-left: 10px solid #1B1F1F;
}
.login label {
    font-size: .1px;
}
#wp-submit {
    margin-top: 20px;
}
.wp-core-ui .button-primary, .wp-core-ui .button-primary:active, .wp-core-ui .button-primary:visited {
    height: 60px !important;
    line-height: 60px !important;
    min-width: 120px !important;
    padding: 0 15px !important;
    font-size:1.8rem;
    font-size:18px;
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    outline: none;
    border-radius: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #1B1F1F !important;
    color: #fff;
    background-color: #1B1F1F;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-transform: uppercase;
}
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: none;
    color: #1B1F1F;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.login #nav {
    border-top: 1px solid #ddd;
    padding: 15px 0 0;
}
.login #backtoblog {
    padding: 0;
}
#login_error,
.login .message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.login #login_error {
        color: #cc1e2b;
        background-color: #f2dede;
        border-color: #ebccd1;

}