/*place font imports here*/
body,
button,
input,
select,
textarea {
  color:$color__text-main;
  font-family:$font__main;
  font-weight:$font__light;
  @include font-size(1.7);
  line-height:$font__line-height-body;
}
@import "headings";
@import "copy";