.home #breadcrumbs {
	display: none;
}
#breadcrumbs {
	position: relative;
	top: -450px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	background-color: $color__background-breadcrumbs;
	color: $color__white;
	@include font-size($sizeValue: 1.3);
	text-transform: uppercase;

	a, a:link, a:visited, a:active {
		color: $color__link-nav;
		margin-right: 12px;
	}
	a:focus, a:hover {
		color: $color__link-nav-hover;
	}
	span {
		margin-right: 12px;
	}
	a:after {
		position: relative;
		top: 0;
		right: 0;
		z-index: 400;
		font-family: FontAwesome;
		@include font-size(1.2);
		content: "\f101";
		display: inline-block;
		margin-left: 12px;
		height: 35px;
		line-height: 35px;
		vertical-align: middle;
		color: $color__text-alt;
	}
}