.icon-light-bulb:before {
	content: "\f0eb" !important;
}
.icon-calendar:before {
	content: "\f073" !important;
}
.icon-search:before {
	content: "\f002" !important;
}
.icon-info:before  {
	content: "\f129" !important;
}
.icon-user-plus:before  {
	content: "\f234" !important;
}