/*GENERIC*/
a,
a:link,
a:active,
a:visited {
	color: $color__link;
	text-decoration: underline;
	outline: none;
	@include fade;

	&:focus, &:hover {
		color: $color__link-hover;
		text-decoration: none;
		outline: none;
		@include fade;
	}
}