ul, ol {
	margin: 10px 0 30px;
	@include font-size(1.6);
	line-height: 1.7
}
ul ul, ol ol {
	margin: 0 20px;
}
ul {
	list-style: none;

	li {
		list-style: square outside;
		margin: 0 0 15px 35px;
		padding-left: 5px;
	}
}
ol {
	margin: 0 0 30px 0;
	line-height: 1.5;

	li {
		list-style: decimal outside;
		margin: 0 0 15px 25px;
		padding-left: 5px;
	}
}
li > ul, li > ol {
	margin-bottom: 0;
	margin-left: 1em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
ul.arrows {
	li {
		list-style: none;
		margin: 0;
		padding: 0;

		&:before {
			list-style: none;
			margin: 0 15px 15px 20px;
			padding-right: 5px;
			position: relative;
			top: 0;
			right: 0;
			z-index: 400;
			font-family: FontAwesome;
			content: "\f178";
			display: inline-block;
			@include font-size(1.0);
		}
	}
}