$size__site-main: 90.5%;
$size__site-main-max: 1600px;

$size__site-content: 100%;
$size__site-content-max: 1200px;

$size__site-content-with-sidebar: 77%;
$size__site-content-max-with-sidebar: 900px;

$size__site-sidebar: 20%;
$size__site-sidebar-max: 100%;
$sidebar__position:left;